<!-- header -->
<!-- <div class="main-banner">
    <div class="row">
        <div class=" mr-1 col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12 ">
            <div class="col-2 col-sm-2 col-xl-2 col-md-2 col-lg-2 float-left logo">
                <img src="../../assets/image/logo.png" alt="" class="img-fluid" srcset="" />
            </div>
            <div class="col-2 col-sm-2 col-xl-2 col-md-2 col-lg-2 float-left mr-t-1 mr-l-1o">
                <select class="form-control city_select">
                    <option>Ahmedabad</option>
                    <option>Surat</option>
                    <option>Rajkot</option>
                </select>

                <div class="">

                </div>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Contact</a></li>
    <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div> -->

   <header>
      <nav style="z-index: 1;">
         <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
         </div>
         <div class="logo">
            <img src="../../assets/image/wediina-logo.png" class="img-fluid"/>

        </div>
         
         <div class="menu">
                <div class="form-group city-menu">
                        <select class="form-control  city_select_menu" id="exampleFormControlSelect1">                      
                            <!-- <option selected disabled>City</option> -->
                            <option>Rajkot</option>
                            <option>Surat</option>
                            <option>Ahmedabad</option>
                            <option>Vadodra</option>
                            <!-- <option>flower decoration</option> -->
                        </select>
                    </div>
        
            <ul>
               <li><a href="#">Home</a></li>
               <li class="subnav"><a href="#" class="subnavbtn">Vendor</a>
            
                <ul class="subnav-content" style="padding: 0;">
                   
                    <li *ngFor="let ve of vendorCategory"><a href="javascript:void(0);"  [routerLink]="['/vendors',ve._id]">{{ve.vendor_cat_name}}</a></li>
                    
                    <li style="background: red;"  ><a style="" class="premium-pk"[routerLink]="['/PremiumPhotographer']" href="#">Premium Photographers </a></li> 
                </ul>
            </li>

            <li class="subnav"><a href="#" class="subnavbtn">Venues</a>
            
                <ul class="subnav-content">
                   
                    <li *ngFor="let ve of venueCategory"><a [routerLink]="['/Venues',ve._id]" href="#">{{ve.venue_cat_name}}</a></li>
                   
                  </ul>
            </li>

               
               <!-- <li><a href="#" [routerLink]="['/Venues']">Venues</a></li> -->
               <li><a href="javascript:void(0)" [routerLink]="['/login']" class="user-icon"><i class="fa fa-user" ></i></a></li>
            </ul>
            </div>
      </nav>
   </header>
   <div class="child-menu">

   </div>
<!-- end header -->