<app-header></app-header>
<section id="home" class="top_cont_outer contanier">
  <div class="top_cont_inner">
    <div class="">
      <div class="top_content pad-0">
        <carousel [interval]=2000 [showIndicators]="false" [noPause]="false">
          <slide class="fadding">
            <img class="background-img r-h-27vh" src="../../assets/image/page_slide.jpg" />
            <div class="slide_text" style="left:25%;">
              Our Premium Photographer
            </div>
          </slide>

        </carousel>
        <div class="inner-part center">
          <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
            <p class="text-center">
              <b class="greeting_head">Store your Memory With Click On Fotofactorystudio</b></p>
              <hr class="title">
         
            </div>
        </div>
        <div class="row justify-content-center center inner-part ">
            <!-- <star-rating [starType]="'svg'" [rating]="5"></star-rating>    -->
            <div class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12  float-left">
              <!-- <b>Filter</b>  -->
              <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 text-center float-left">  
                  <div class="form-group" style="margin-left: 21%;">
                      <input type="date" style="width: 75% !important;" class="form-control inquery_btn" />
                    </div>
                <a href="" class="btn btn-success inquery_btn"><i class="fa fa-map-marker"></i> &nbsp;&nbsp;&nbsp; Location</a>
              
            </div>
           
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 float-left text-center">
                <a href="http://fotofactorystudio.in" class="website_link" target="_blank" >Go to Our Website</a>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 text-center float-right">
                <button data-toggle="modal" data-target="#review" class="btn btn_danger inquery_btn mob_btn_pos mob_l_m_28 ">Add
                    Review</button>
                    <button class=" btn btn_danger mob_btn_pos inquery_btn" data-toggle="modal" data-target="#sendInquiry">Send
                        Inquery</button>
            </div>
            </div>
            <div class="row "> 
                <div class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 mr-b-4 float-left">
                    <div class="star-rating">
                        <span class="fa fa-star-o"  data-rating="1"></span>
                        <span class="fa fa-star-o"  data-rating="2"></span>
                        <span class="fa fa-star-o"  data-rating="3"></span>
                        <span class="fa fa-star-o"  data-rating="4"></span>
                        <span class="fa fa-star-o"  data-rating="5"></span>
                        <input type="hidden" name="whatever1" class="rating-value" value="3">
                      </div>
      
                </div>
            </div>
             
          <!-- <div class="col-12 mx-auto col-lg-12  col-md-12 col-xl-12 col-xs-12 r_greeting_format ">
                <div *ngFor="let vcat of venueCategory" class="text-center col-3 mx-auto col-lg-3  col-md-3 col-xl-3 col-xs-3 float-left">
               <b class="cat" (click)="getcategoryId(vcat._id)">{{vcat.venue_cat_name}}</b>
              </div>
             -->
                
                   
              <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="inner-part">
  <div>
      <div class="home-second-hedding">Our Video Story
                    
        </div>
        <hr class="title">
  </div>
    <div class="row ">
      
      <div class="col-lg-3 float-left venues mr-b-4 venue-grid" data-toggle="modal" data-target=".video_modal">
        <div class="venue-card">
            <img src="../../assets/image/photographer/24-Hero-Aadi-and-Aruna-Marriage-Photos-Wedding-HD-Photos-Gallery-Stills.jpg" class="grid_img"  />
           
            <div>

            </div>
          </div>
        
      </div>
      <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
        <div class="venue-card">
            <img src="../../assets/image/photographer/4efff61978857d2949e64b6001191009.jpg" class="grid_img"  />
           
            <div>

            </div>
          </div>
        
      </div>
      <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
        <div class="venue-card">
            <img src="../../assets/image/photographer/Happy Wedding HD Movie Stills Photo Gallery8.jpg" class="grid_img"  />
           
            <div>

            </div>
          </div>
        
      </div>
      <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
        <div class="venue-card">
            <img src="../../assets/image/photographer/punjabi-couple-images-33.jpg" class="grid_img"  />
           
            <div>

            </div>
          </div>
        
      </div>
      <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
        <div class="venue-card">
            <img src="../../assets/image/photographer/tamil-brahmin-wedding-photography-14.jpg" class="grid_img"  />
           
            <div>

            </div>
          </div>
        
      </div>
    </div>
</section>

<section class="inner-part">
    <div>
        <div class="home-second-hedding">Our Photogaphy
                      
          </div>
          <hr class="title">
    </div>
      <div class="row ">
        
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card" data-toggle="modal" data-target=".bd-example-modal-lg">
              <img src="../../assets/image/photographer/24-Hero-Aadi-and-Aruna-Marriage-Photos-Wedding-HD-Photos-Gallery-Stills.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/4efff61978857d2949e64b6001191009.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/Happy Wedding HD Movie Stills Photo Gallery8.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/punjabi-couple-images-33.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/tamil-brahmin-wedding-photography-14.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
      </div>
      <div class="mr-t-9 v_desp card">
          <h4>Testimonial</h4>
          <div class="testimonial_user">
            <div>
              <div class="col-lg-6 float-left">
                <i class="fa fa-user test_user"></i>Chirag Ramani 
              </div>          
              <div class="star-rating col-lg-6 float-right   text-right">
                  <span class="fa fa-star-o"  data-rating="1"></span>
                  <span class="fa fa-star-o"  data-rating="2"></span>
                  <span class="fa fa-star-o"  data-rating="3"></span>
                  <span class="fa fa-star-o"  data-rating="4"></span>
                  <span class="fa fa-star-o"  data-rating="5"></span>
                  <input type="hidden" name="whatever1" class="rating-value" value="3">
                </div> 
              
              </div>
            <div class="review">
              Thanks for the creat our memory 
            </div>
          </div>
  
  
  
        </div>
  </section>
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="../../assets/image/photographer/punjabi-couple-images-33.jpg" class="img-fluid h-70vh" style="height: 70vh;"  />
              
        </div>
      </div>
    </div>

    
  <div class="modal fade video_modal bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <iframe class="embed-responsive-item h-70vh" id="video" src="https://www.youtube.com/embed/t53c-tLZS7E"
            allowfullscreen></iframe>     
        </div>
      </div>
    </div>

    
<div class="modal" id="sendInquiry">
    <div class="modal-dialog  modal-full    ">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Send Inquiry</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
  
          <div class="form-group">
            <label for="fname" class=""> Name</label><span class="text-danger">*</span>
            <input type="text" class="form-control form_control_m" id="name" placeholder="Enter your Name">
          </div>
          <div class="form-group">
            <label for="fname" class="">Email</label><span class="text-danger">*</span>
            <input type="email" class="form-control form_control_m" id="email" placeholder="enter your Email">
          </div>
          <div class="form-group">
            <label for="fname" class="">Mobile No</label><span class="text-danger">*</span>
            <input type="text" class="form-control form_control_m" id="mno" placeholder=" enter your Mobile no">
          </div>
          <div class="form-group">
            <label for="fname" class="">Booking Date</label><span class="text-danger">*</span>
            <input type="date" class="form-control form_control_m" id="date" placeholder="Enter your Date">
          </div>
          <div class="form-group">
            <label for="fname" class="">No of Person</label><span class="text-danger">*</span>
            <input type="text" class="form-control form_control_m" id="fname" placeholder="Enter No of Person">
          </div>
          <div class="form-group">
            <label for="fname" class="">purpose</label><span class="text-danger">*</span>
            <input type="text" class="form-control form_control_m" id="purpose"
              placeholder="Please Write a purpose why are you need this place.">
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success w-100" data-dismiss="modal">Send</button>
        </div>
  
      </div>
    </div>
  </div>
  
  <!-- review -->
  <div class="modal" id="review">
    <div class="modal-dialog  modal-full    ">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Review</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
  
            <div class="star-rating text-right">
                <span class="fa fa-star-o"  data-rating="1"></span>
                <span class="fa fa-star-o"  data-rating="2"></span>
                <span class="fa fa-star-o"  data-rating="3"></span>
                <span class="fa fa-star-o"  data-rating="4"></span>
                <span class="fa fa-star-o"  data-rating="5"></span>
                <input type="hidden" name="whatever1" class="rating-value" value="3">
              </div>
          <div class="form-group">
            <label for="fname" class="">Comment</label><span class="text-danger">*</span>
            <textarea class="form-control form_control_m" id="cmt" rows="15"
              placeholder="Please Enter your valuable feedback"></textarea>
          </div>
  
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success w-100" data-dismiss="modal">Send</button>
        </div>
  
      </div>
    </div>
  </div>
  
<!-- <section class="contaier inner-part mr-t-9"> -->

  <!-- <div class="col-12 col-lg-12 col-md-12">
    <div class="col-lg-3 col-md-3 col-xl-3 col-12 filter float-left">
      <div class="form-group text-center">
        <label class="f_lable">Filter </label>
        <div class="">
          <label class="filter_head">Location <i class="fa fa-map-marker"></i></label>
          <div class="form-group">
            <input class="form-control" list="city" name="city">
            <datalist id="city">
              <option *ngFor="let city of city" value="{{city}}">
              
            </datalist>
          </div>
          <ul class="list-group list-group-flush">
            <li  class="list-group-item area_filter">Area</li>
            <li *ngFor="let a of area" class="list-group-item"(click)="getarea(a)">{{a}}</li>
          
          </ul>
        </div>
        <div>
          <label class="filter_head area_filter w-100 mr-t-9 ">Select Date <i class="fa fa-calendar-day"></i></label>
          <div style="overflow:hidden;">
            <div class="form-group">
              <input type="date" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let v of venues" class="col-lg-8 col-md-8 col-xl-8 col-12  float-left mr-1 grid_main">
      <div class="col-lg-3 col-md-3 col-xl-3 col-12 float-left">
        <img src="{{v.image}}" class="img-fluid " />
      </div>
      <div class="col-lg-6 col-md-6 col-xl-6 col-12 float-left">
        <div class="grid_title"> {{v.companyName}}</div>
        <div class="grid_address">{{v.address}}
        </div>
        <div class="text-center mr-t-13"><button class="btn btn-danger" [routerLink]="['/VenueDetail',v._id]">Detail</button>
        </div>
      </div>
      <div class="text-center col-12 col-lg-3 col-md-3 col-xl-3 float-left grid_price">
        <div class="price_text">
          <button class="btn btn-success price_number">GET PRICE</button>
          <p></p>
          <p>capsity : {{v.capasity_of_person}} Person </p>
        </div>

      </div>
    </div>
 
  </div> -->
<!-- </section> -->
<!-- <div class="mr-t-64">
  <app-footer></app-footer>
</div> -->