<app-header></app-header>

<div class="">
  <div class="col-12 col-lg-12 col-md-12 col-xs-12 col-xl-12 text-center pad-0">
    <div class="header-part">
      <div class="text-center headding-text">
        Login
      </div>
    </div>
    <div class="main-login-content col-12  col-lg-3 col-md-12 col-xl-3 mx-auto mr-6">
      <div class=" login-tab m-p-5 bt-1">
        <div class="col-4 col-lg-4 col-md-4 col-xl-4 float-left login-tab-text br-1"> Vender</div>
        <div class="col-4 col-lg-4 col-md-4 col-xl-4 float-left login-tab-text br-1">Venues</div>
        <div class="col-4 col-lg-4 col-md-4 col-xl-4 float-left login-tab-text ">Customer</div>
      </div>
    </div>
    <div class="col-12  col-lg-3 col-md-12 col-xl-3 mx-auto">
        <div class=""> If you are new then <a href="javascript:void(0)" [routerLink]="['/newVenue']" ><b class="sign-text">sign In</b></a></div>
      
      <form class="mr-t-10 mr-b-10">
        <div class=" form-group">
          <input type="email" placeholder="Enter Email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Enter Password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <input type="submit" placeholder="Enter Password" class="btn  btn-success">
        </div>
      </form>
          <div class=" forget-text">Forget Password ?</div>
      
    </div>

  </div>
</div>

<app-footer></app-footer>