body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
}
a:hover{
    text-decoration: none !important;
    
    color: #fff !important;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
/* border class */
.b-1{
    border: 1px solid #6c757ddb;
}
.bt-1{
    border: 1px solid #e2e2e2;
}
.br-1{
    border-right: 1px solid #e2e2e2;
}

/* 
.main-banner{
    margin-top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../image/desktop_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;   
}

.city_select{
    background-color: transparent !important;
    color: #fff !important;
}

.city_select option{
  color: #000 !important;
}
.logo{
    margin-right:1%; 
}
.mr-1{
    margin: 1%;
}
.mr-t-1{
    margin-top:1%;

}

.mr-l-1{
    margin-left:1%;
}


ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
} */

.pad-0{
    padding: 0 !important;
}
.mr-b-1{
    margin-bottom: 1%;
}
.mr-t-13{
    margin-top: 13%;
}
.mr-b-22{
    margin-bottom: 22%;
}
.mr-t-5{
    margin-top: 5%;
}
.mr-b-8{
    margin-bottom: 8%;
}
.mr-t-10{
    margin-top: 10%;
}
.mr-b-10{
    margin-bottom: 10%;
}
.mr-6{
    margin: 6%;
}
.mr-t-8{
    margin-top: 8%;
}
.m-p-5{
margin: 5%;
}

.mr-b-36{
    margin-bottom: 36%;
}
.pad-2{
    padding: 2%;
}
.pad-t-5{
    padding-top: 5% !important;
}
header {
    width: 100%;
    /* height: 83vh; */
    /* background: url(../image/desktop_bg.jpg) no-repeat ; */
    background-size: cover;
}

.content {
    /* width: 94%; */
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 30px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 30px;
    list-style: none;
    background: #dc3545bd;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 22px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}


@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}
/* carousel */

.carousel_img{
    width: 100%;
    height:83vh;
}
.greeting_format{
    margin-top: 1%;
    font-weight: 600 ;
    font-size: 17px;
    line-height: 33px;
    color:#585858;
}
.star{
    color:#ca2121;
}
.home-second-hedding{
    margin-top: 3%;
    font-weight: 700;
    padding-left: 1%;
    font-size: 24px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    border-radius: 51px;
    padding: 0.6%;
    box-shadow: -1px 1px 16px 6px #b1989873;
    margin-bottom: 4%;
}
.p-card-img{

border-radius: 5px;
}
.card-content{
    border: 1px solid #e2e2e2;
    padding: 1%;
    border-radius: 5px;
    
}
.card-city_name{
    text-align: center;
    font-size: 1.3vw;
    font-weight: 550;
    margin: 3% 0;
}
.card-detail{
    color:#FF353A;
    text-decoration: none !important;
    padding: 3% 5%;
}

.card-detail:hover{
    background: #000;
    /* padding: 3% 5%; */
    border-radius: 13px;
    font-weight: 550;
    color: #fff !important;

}

.how-work-icon{
    width: 30%;
    margin: 0 auto;
padding-top: 1%;
}
.border-none{
    border:none !important;
}
.how-work-title{
    margin-top: 4%;
    font-size: 18px;
    font-weight: 550;
}

.how-work-desp{
 color:#7D7C7A;
 font-size: 12px;
}
.footer{
    background: #000;
    color: #fff;
    padding: 1% 1%;
    font-size: 14px;
   
}
.footer-link{
    color:#fff !important;
}


.carousel-control-next{
    display: none !important;
}
.carousel-control-prev{ 
      display: none !important;
}
.user-icon{
font-size:25px;
}
.header-part{
    width:100%;
    height: 30vh;
 }
 .s_header-part{
    height: 15vh;
 }
 .headding-text{
    padding-top: 10%;
    font-size: 52px;
    font-weight: 550;
    border-bottom: 3px solid #e2e2e2;
    box-shadow: 1px 8px 20px 0px #e2e2e2;
 }
 .s_headding-text{
    /* padding-top: 10%; */
    font-size: 52px;
    font-weight: 550;
    border-radius:15px; 
    border-bottom: 3px solid #e2e2e2;
    box-shadow: 1px 8px 20px 0px #e2e2e2;
 }
 .login-tab{

 }
 .login-tab-text{

    /* border-right: 2px solid #e2e2e2; */
    padding: 4% !important;
border-bottom:1px solid #e2e2e2; 
}

.login-tab-text:hover{
    background: #000;
    color: #fff;
}

.login-tab-text:focus-visible{
    background: #000;
    color: #fff;
}

.forget-text{
    
    color: red;
margin-bottom:10%; 
}

.sign-text{
    color: green;
}

.vr-headding-text{
    font-size: 2.5rem;
    padding-top: 10%;
    font-weight: 550;
    border-bottom: 3px solid #e2e2e2;
    box-shadow: 1px 8px 20px 0px #e2e2e2;
}

.venueprofile_head{
    font-size: 1.4rem !important;
    margin-bottom: 4% !important;
}
.user_profile_img{
    width: 37%;
    border: 1px solid;
    border-radius: 65px;
}
.v_profile_section{
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 4%;
}
.user-photo-section{
    border-bottom: 1px solid #e2e2e2;
    padding: 4%
}

.profile_menu{
    background: #e22d3e;
    padding: 2%;
    color: #fff;
    font-weight: 550;
    border-radius: 35px;
    text-align: center;
    margin: 4% 0;
    transition: 1s;
    cursor: pointer;
}
.profile_menu:hover{
    background: #000;
    
}
.p_main_section{
    border: 1px solid #e2e2e2;
    padding: 2%;
    border-radius: 10px;
    background: #f2f2f2;
    margin-right: 5%;


}