<app-header></app-header>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
size = "large"
color = "#000000"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
</ngx-spinner>

<section id="home" class="top_cont_outer contanier">
    <div class="top_cont_inner">
        <div class="">
            <div class="top_content pad-0">
                <carousel [interval]=2000 [showIndicators]="false" [noPause]="false">
                    <slide class="fadding">
                        <img class="background-img r-h-27vh" src="../../assets/image/page_slide.jpg" style="width: 100%;" />
                        <div class="slide_text">
                            Registration
                        </div>
                    </slide>

                </carousel>
                <div class=" center">
                    <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
                        <p class="text-center">
                            <b class="greeting_head">List your Business</b>
                            <br /> We are provide you largest platform to grow your
                            business in this industry
                            <br />by partnering with us</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center pad-t-2">
        <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-xs-4 float-left">
            <div class="card border-none text-center">
                <div class="how-work-icon ">
                    <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                </div>
                <div class="how-work-title"> Partnership with us </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-xs-4 float-left">
            <div class="card border-none text-center">
                <div class="how-work-icon ">
                    <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                </div>
                <div class="how-work-title">build your business in new way </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-xs-4 float-left">
            <div class="card border-none text-center">
                <div class="how-work-icon ">
                    <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                </div>
                <div class="how-work-title"> get increase your business </div>
            </div>
        </div>
    </div>
</section>
<!-- form section -->
<div class="col-lg-12 text-center signupTitle mr-t-17">
    Already Registered?<b class="text-danger" [routerLink]="['/login']"> Sign In </b>
    <br />Or
    <br />Fill In The Form Below To Get Started
</div>
<div>
    <div class="col-12 col-lg-12 col-md-12 col-xl-12 text-center mr-t-5">
        <div class="col-3 col-lg-3 col-md-3 col-xl-3 float-left mr-l-13 r_head" [routerLink]="['/register']">
            Customer
        </div>
        <div class="col-3 col-lg-3 col-md-3 col-xl-3 float-left back_red  r_head" [routerLink]="['/venueRegister']">
            Venues
        </div>
        <div class="col-3 col-lg-3 col-md-3 col-xl-3 float-left r_head" [routerLink]="['/VenderRegister']">
            Vender
        </div>

    </div>
    <div class="col-lg-12 mx-auto">
        <form id="Vender" action="" #frm1="ngForm" (click)="addVenue()" >
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4  r_l_form mr-l-17  mob_mr_l_0 pad-6 float-left ">
                <div class="form-group">
                    <label for="exampleFormControlSelect1" class=" ">Business Name</label><span
                        class="text-danger">*</span>
                    <select class="form-control form_control_m" name="catValue" [(ngModel)]="catValue" id="exampleFormControlSelect1">
                        <option *ngFor="let c of venue_category" value="{{c._id}}">{{c.venue_cat_name}}</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="fname"  class=" ">Company Name</label><span class="text-danger">*</span>
                    <input type="text" name="cname" [(ngModel)]="cname" class="form-control form_control_m" id="fname" placeholder="Compnay Name">
                
                </div>
                <div class="form-group">
                    <label for="fname" class=" ">First Name</label><span class="text-danger">*</span>
                    <input type="text"  class="form-control form_control_m" name="fname" [(ngModel)]="fname" id="fname" placeholder="Your Name">
                </div>
                <div class="form-group">
                        <label for="fname" class=" ">Last Name</label><span class="text-danger">*</span>
                        <input type="text" class="form-control form_control_m" id="lname" name="lname" [(ngModel)]="lname" placeholder="Your Name">
                    </div>
                <div class="form-group">
                    <label for="cno" class=" ">contact No.</label><span class="text-danger">*</span>
                    <input type="text" minlength="10" maxlength="10" #mobile="ngModel"
                    pattern="[0-9]+" required ngModel   class="form-control form_control_m" id="cno"  name="cno" [(ngModel)]="cno" placeholder="Contact No.">
                    <div *ngIf="mobile?.touched">
                        <div class="red-text left" *ngIf="mobile.errors?.required">
                          Contact No Required*
                        </div>
                        <div [hidden]="!mobile?.hasError('minlength')" class="red-text">
                          Please enter valid Contact No
                        </div>
                      </div>
               
                </div>

               

            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 pad-b-8 r_r_form float-left ">
                    <div class="form-group">
                            <label for="fname" class=" ">Email</label><span class="text-danger">*</span>
                            <input type="email" name="email" [(ngModel)]="email" class="form-control form_control_m" id="fname" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="fname" class=" ">Password</label><span class="text-danger">*</span>
                            <input type="email" name="password" [(ngModel)]="password" class="form-control form_control_m" id="fname" placeholder="Email">
                        </div>
        
                <div class="form-group">
               
                    <label for="exampleFormControlSelect1" class=" ">City</label><span
                        class="text-danger">*</span>
                    <select class="form-control form_control_m" name="city" [(ngModel)]="city" id="exampleFormControlSelect1">
                        <option>Rajkot</option>
                    </select>
                </div>
                <!-- <div class="form-group">
                    <label for="fname" class=" ">Comments</label><span class="text-danger">*</span>
                    <textarea placeholder="Extra Note" name="desp" [(ngModel)]="desp" cols="50" rows="5" class="f-text-area form_control_m"></textarea>
                </div> -->
                <div class="col-lg-12 col-md-12 col-xl-12 mx-auto mr-t-26">
                    <input type="submit" [disabled]="frm1.invalid" value="Submit" class="btn btn-success">
                </div>

            </div>

        </form>
    </div>
</div>

<!-- form section -->
<!-- <div class="mr-t-42">
    <app-footer></app-footer>
</div> -->