<app-header></app-header>
<section id="home" class="top_cont_outer contanier">
  <div class="top_cont_inner">
    <div class="">
      <div class="top_content pad-0">
        <carousel [interval]=2000 [showIndicators]="false" [noPause]="false">
          <slide class="fadding">
            <img class="background-img" src="../../assets/image/page_slide.jpg" />
            <div class="slide_text">
              Our Venues
            </div>
          </slide>

        </carousel>
        <div class="inner-part center">
          <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
            <p class="text-center">
              <b class="greeting_head">Find Better place to your Function</b></p>
              <hr class="title">
         
            </div>
        </div>
        <div class="row justify-content-center center inner-part">
            <!-- <star-rating [starType]="'svg'" [rating]="5"></star-rating>    -->
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4  float-left">
              <!-- <b>Filter</b>  -->
                <div class="form-group">
                  <label class="them-color">Select your Function City</label>
                    <select class="form-control form_control_m" id="exampleFormControlSelect1">                      
                        <option selected disabled>City</option>
                        <option>Rajkot</option>
                        <option>Surat</option>
                        <option>Ahmedabad</option>
                        <option>Vadodra</option>
                        <!-- <option>flower decoration</option> -->
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4  float-left">
                <!-- <b>Filter</b>  -->
                
                  <div class="form-group">
                     <label class="them-color">Select your Function Date</label>
                    <input type="date"  placeholder="Select your function date"  class="form-control form-control_m"/>
                  </div>
  
              </div>      
          <!-- <div class="col-12 mx-auto col-lg-12  col-md-12 col-xl-12 col-xs-12 r_greeting_format ">
                <div *ngFor="let vcat of venueCategory" class="text-center col-3 mx-auto col-lg-3  col-md-3 col-xl-3 col-xs-3 float-left">
               <b class="cat" (click)="getcategoryId(vcat._id)">{{vcat.venue_cat_name}}</b>
              </div>
             -->
                
                   
              <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="inner-part">
    <div class="row ">
      <div class="col-lg-3 float-left venue-grid" *ngFor="let v of venues">
        <div class="" [routerLink]="['/VenueDetail',v._id]">
          <div class="filp-top"></div>
            <img src="{{v.image}}" class="grid_img"  />
           <div class="card-bottom justify-content-center">
              <div class="star-rating">
                  <span class="fa fa-star-o"  data-rating="1"></span>
                  <span class="fa fa-star-o"  data-rating="2"></span>
                  <span class="fa fa-star-o"  data-rating="3"></span>
                  <span class="fa fa-star-o"  data-rating="4"></span>
                  <span class="fa fa-star-o"  data-rating="5"></span>
                  <input type="hidden" name="whatever1" class="rating-value" value="3">
                </div>

                <div class="grid_title pad-5"> {{v.companyName}}</div>
           </div>
           <div class="filp-bottom"></div>
            <div>

            </div>
          </div>
        
      </div>
    </div>
</section>

<!-- <section class="contaier inner-part mr-t-9"> -->

  <!-- <div class="col-12 col-lg-12 col-md-12">
    <div class="col-lg-3 col-md-3 col-xl-3 col-12 filter float-left">
      <div class="form-group text-center">
        <label class="f_lable">Filter </label>
        <div class="">
          <label class="filter_head">Location <i class="fa fa-map-marker"></i></label>
          <div class="form-group">
            <input class="form-control" list="city" name="city">
            <datalist id="city">
              <option *ngFor="let city of city" value="{{city}}">
              
            </datalist>
          </div>
          <ul class="list-group list-group-flush">
            <li  class="list-group-item area_filter">Area</li>
            <li *ngFor="let a of area" class="list-group-item"(click)="getarea(a)">{{a}}</li>
          
          </ul>
        </div>
        <div>
          <label class="filter_head area_filter w-100 mr-t-9 ">Select Date <i class="fa fa-calendar-day"></i></label>
          <div style="overflow:hidden;">
            <div class="form-group">
              <input type="date" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let v of venues" class="col-lg-8 col-md-8 col-xl-8 col-12  float-left mr-1 grid_main">
      <div class="col-lg-3 col-md-3 col-xl-3 col-12 float-left">
        <img src="{{v.image}}" class="img-fluid " />
      </div>
      <div class="col-lg-6 col-md-6 col-xl-6 col-12 float-left">
        <div class="grid_title"> {{v.companyName}}</div>
        <div class="grid_address">{{v.address}}
        </div>
        <div class="text-center mr-t-13"><button class="btn btn-danger" [routerLink]="['/VenueDetail',v._id]">Detail</button>
        </div>
      </div>
      <div class="text-center col-12 col-lg-3 col-md-3 col-xl-3 float-left grid_price">
        <div class="price_text">
          <button class="btn btn-success price_number">GET PRICE</button>
          <p></p>
          <p>capsity : {{v.capasity_of_person}} Person </p>
        </div>

      </div>
    </div>
 
  </div> -->
<!-- </section> -->
<!-- <div class="mr-t-64">
  <app-footer></app-footer>
</div> -->