<app-header></app-header>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
size = "large"
color = "#000000"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<section id="home" class="top_cont_outer contanier">
  <div class="top_cont_inner">
    <div class="">
      <div class="top_content pad-0">
        <carousel [interval]=2000 [showIndicators]="true" [noPause]="false">
          <slide class="fadding">
            <img class="background-img" src="../../assets/image/page_slide.jpg" />
            <div class="slide_text mob_f_3">
              Venue Detail
            </div>
          </slide>

        </carousel>
        <div class="inner-part center">
          <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
            <p class="text-center">
              <b class="greeting_head">{{name}}</b></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid  inner-part" style="margin-top: -1%;" >
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-8 col-md-8 col-xl-8 float-left">
      <div class="">
        <div class="title_section col-12 col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12 float-left">
            <div class="col-lg-6  float-left">
                <div class="pointer text-left"> </div>
  
            </div>
          <div class="price_text col-lg-6 float-right">
            
            
            <!-- <p>capsity : 900 person </p> -->
          </div>
         
        </div>
        <div class="col-12 col-sm-12 col-4 col-lg-4 col-md-4 col-xl-4 float-left">
          <div class="like_display">
            <!-- <i class="fa fa-eye"></i> &nbsp;&nbsp;&nbsp;60
            <br><i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;10 -->
          </div>
        </div>

      </div>
      <carousel [interval]=2000 style="" [showIndicators]="true" [noPause]="true">
        <slide *ngFor="let s of images" class="fadding">
          <img class="background-img" class="v_carousel_img" src="{{s}}" />
        </slide>

      </carousel>
      <div class="v_despcol-12 back-part mr-t-2 col-sm-12 col-xl-12 col-sm-12 col-md-12 he-24">
        <h4>Details</h4>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>

                <div class="detail_block  float-left">
                  <h5 class="detail_title">Area</h5>
                  <p>{{area}}</p>
                </div>
              </td>
              <td>
                <div class="detail_block  float-left">
                  <h5 class="detail_title">Parking area</h5>
                  <p>{{p_area}}</p>
                </div>
              </td>
              <td>

                <div class="detail_block  float-left">
                  <h5 class="detail_title">Capasity</h5>
                  <p>{{capasity}} Person</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="detail_block  float-left">
                  <h5 class="detail_title">Out side Catring </h5>
                  <p>{{catring}}</p>
                </div>

              </td>
              <td>
                <div class="detail_block  float-left">
                  <h5 class="detail_title">Theme Decoration</h5>
                  <p>{{theme}}</p>
                </div>

              </td>
              <td>
                <div class="detail_block  float-left">
                  <h5 class="detail_title">Time Duration </h5>
                  <p>{{time}}</p>
                </div>


              </td>
            </tr>
          </table>
        </div>


      </div>

      <div class="v_desp back-part">
        <h4>Summrary</h4>
        <p>
          {{detail}}
        </p>
      </div>
      <div class="mr-t-9 v_desp back-part">
        <h4>Testimonial</h4>
        <div class="testimonial_user">
            <form >
          <div>
            Add your Feedback
            <div class="star-rating col-lg-6 float-right   text-right">
                <span class="fa fa-star-o"  data-rating="1"></span>
                <span class="fa fa-star-o"  data-rating="2"></span>
                <span class="fa fa-star-o"  data-rating="3"></span>
                <span class="fa fa-star-o"  data-rating="4"></span>
                <span class="fa fa-star-o"  data-rating="5"></span>
                <input type="hidden" name="whatever1" class="rating-value" value="0">
              </div> 
            <div class="col-lg-12 float-left">
              <div class="form-group">
                <input type="text" class="form-control " placeholder="enter Your Name" />
              </div>

              </div>          
            
            
            </div>
          <div class=" ">
            <div class="form-group">
              <textarea rows="5" class="form-control w-100" maxlength="200" placeholder="Enter your feedback here.... "></textarea>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control btn btn-danger" type="submit" value="Submit" />
          </div>
        </form>
        </div>
        <div class="testimonial_user">
          <div>
            <div class="col-lg-6 float-left">
              <i class="fa fa-user test_user"></i>Chirag Ramani 
            </div>          
            <div class="star-rating col-lg-6 float-right   text-right">
                <span class="fa fa-star-o"  data-rating="1"></span>
                <span class="fa fa-star-o"  data-rating="2"></span>
                <span class="fa fa-star-o"  data-rating="3"></span>
                <span class="fa fa-star-o"  data-rating="4"></span>
                <span class="fa fa-star-o"  data-rating="5"></span>
                <input type="hidden" name="whateve2" class="rating-value" >
              </div> 
            
            </div>
          <div class="review">
            This party plot is best in Rajkot
          </div>
        </div>
       



      </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 float-left send_btn mob_mr_t-13 ">
      <div class="star-rating ">
        <span class="fa fa-star-o"  data-rating="1"></span>
        <span class="fa fa-star-o"  data-rating="2"></span>
        <span class="fa fa-star-o"  data-rating="3"></span>
        <span class="fa fa-star-o"  data-rating="4"></span>
        <span class="fa fa-star-o"  data-rating="5"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="3">
      </div>
 
      <button class=" btn btn_danger mob_btn_pos inquery_btn" data-toggle="modal" data-target="#sendInquiry">Send
        Inquery</button>
      <div>
        <a class="btn btn_danger mob_btn_pos mob_l_m_28 inquery_btn" href="{{location}}" style="color: #fff;" target="_blank"><i
            class="fa fa-map-marker"></i> Location</a>
      </div>
      <div>
        <h6 class="videostroy_title">Video Story</h6>
        <div *ngFor="let v of video;let i= index"
          class="col-12 col-sm-12 col-lg-6 col-md-6 col-xl-6 order-first float-left" data-toggle="modal"
          data-target=".video_modal">
          <img src="../../assets/image/Ahmedabad.jpg" (click)="getvideo(v)" class="img-thumbnail" />

        </div>

      </div>
    </div>
  </div>

</section>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog  modal-full    ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Video Stroy</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/t53c-tLZS7E"
            allowfullscreen></iframe>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal_video" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade video_modal bd-example-modal-lg" id="mainvideomodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <iframe class="embed-responsive-item h-70vh" id="videopopup" src="https://www.youtube.com/embed/t53c-tLZS7E"
          allowfullscreen></iframe>     
      </div>
    </div>
  </div>
<!-- send Inquiry -->

<div class="modal" id="sendInquiry">
  <div class="modal-dialog  modal-full    ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Send Inquiry</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="form-group">
          <label for="fname" class=""> Name</label><span class="text-danger">*</span>
          <input type="text" class="form-control form_control_m" id="name" placeholder="Enter your Name">
        </div>
        <div class="form-group">
          <label for="fname" class="">Email</label><span class="text-danger">*</span>
          <input type="email" class="form-control form_control_m" id="email" placeholder="enter your Email">
        </div>
        <div class="form-group">
          <label for="fname" class="">Mobile No</label><span class="text-danger">*</span>
          <input type="text" class="form-control form_control_m" id="mno" placeholder=" enter your Mobile no">
        </div>
        <div class="form-group">
          <label for="fname" class="">Booking Date</label><span class="text-danger">*</span>
          <input type="date" class="form-control form_control_m" id="date" placeholder="Enter your Date">
        </div>
        <div class="form-group">
          <label for="fname" class="">No of Person</label><span class="text-danger">*</span>
          <input type="text" class="form-control form_control_m" id="fname" placeholder="Enter No of Person">
        </div>
        <div class="form-group">
          <label for="fname" class="">purpose</label><span class="text-danger">*</span>
          <input type="text" class="form-control form_control_m" id="purpose"
            placeholder="Please Write a purpose why are you need this place.">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success w-100" data-dismiss="modal">Send</button>
      </div>

    </div>
  </div>
</div>

<!-- review -->
<div class="modal" id="review">
  <div class="modal-dialog  modal-full    ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Review</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

          <div class="star-rating text-right">
              <span class="fa fa-star-o"  data-rating="1"></span>
              <span class="fa fa-star-o"  data-rating="2"></span>
              <span class="fa fa-star-o"  data-rating="3"></span>
              <span class="fa fa-star-o"  data-rating="4"></span>
              <span class="fa fa-star-o"  data-rating="5"></span>
              <input type="hidden" name="whatever1" class="rating-value" value="3">
            </div>
        <div class="form-group">
          <label for="fname" class="">Comment</label><span class="text-danger">*</span>
          <textarea class="form-control form_control_m" id="cmt" rows="15"
            placeholder="Please Enter your valuable feedback"></textarea>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success w-100" data-dismiss="modal">Send</button>
      </div>

    </div>
  </div>
</div>


<!-- <app-footer></app-footer> -->
<script type="text/javascript">
  $('#modal_video').click(function () {
    $('#video').pause();
  });

</script>