<app-header></app-header>
<div class="col-12 col-lg-12 col-md-12 col-xs-12 col-xl-12 text-center pad-0">
  <div class="s_header-part ">
    
  </div>
</div>

<div class=" col-lg-12 col-md-12 col-xl-12 mr-b-36 ">
  <div class=" col-lg-3 col-md-3 col-xl-3 float-left position-fixed">
    <div class="v_profile_section">
      <div class="text-center user-photo-section">
        <img src="../../assets/image/user/user.png" class="img-fluid user_profile_img" />
      </div>
      <div class="mr-t-8">
        <div class="profile_menu">
          My detail
        </div>
        <div class="profile_menu">
          Wishlist
        </div>
        <div class="profile_menu">
          My Venue
        </div>
        <div class="profile_menu">
          My Vendors
        </div>
      
        <div class="profile_menu">
          Logout
        </div>
      </div>

    </div>
  </div>
  <!-- content section -->
  <div id="profile" class="col-lg-8 col-md-8 col-xl-8 float-right p_main_section">
    <div>
      <div class="text-center venueprofile_head s_headding-text">
        welcome to your dashbord <b>chirag</b> !
      </div>
      <form action="">
        <div class="col-6 col-lg-6 col-md-6 col-xl-6 float-left ">
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="First Name">
          </div>
          
          <div class="form-group">
            <label for="mobileno">Mobile No.</label>
            <input type="text" class="form-control" id="mobileno" placeholder="Mobile No">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Address</label>
            <textarea placeholder="Address" cols="41" rows="3"></textarea>
          </div>
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-xl-6 float-left">
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
         
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="state"></label>
            <input type="submit" class="float-right btn btn-success" id="state" value="update">
          </div>
          
        </div>
      </form>
    </div>
    <div>

    </div>
  </div>
  <div id="Wishlist" class="col-lg-8 col-md-8 col-xl-8 mr-t-5 float-right p_main_section">
      <div>
          <div class="text-center venueprofile_head s_headding-text">
              Wishlist
            </div>
        <form action="">
          <div class="">
            <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
              <div class="card card-content ">
                <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                <div class="card-city_name card-title">
                  thakar part plot, rajkot
                </div>
  
              </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
              <div class="card card-content ">
                <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                <div class="card-city_name card-title">
              Radhe catering, Ahmedabad
                </div>
  
              </div>
            </div>
  
          </div>
        </form>
      </div>
      <div>
  
      </div>
    </div>
  <div id="myvenue" class="col-lg-8 col-md-8 col-xl-8 mr-t-5 float-right p_main_section">
      <div>
          <div class="text-center venueprofile_head s_headding-text">
              Your booked Venues
            </div>
        <form action="">
          <div class="">
            <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
              <div class="card card-content ">
                <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                <div class="card-city_name card-title">
                  thakar part plot, rajkot
                </div>
  
              </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
              <div class="card card-content ">
                <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                <div class="card-city_name card-title">
                  XYZ banquet hall, Ahmedabad
                </div>
  
              </div>
            </div>
  
          </div>
        </form>
      </div>
      <div>
  
      </div>
    </div>
    <div id="myvendors" class="col-lg-8 col-md-8 col-xl-8 mr-t-5 float-right p_main_section">
        <div>
            <div class="text-center venueprofile_head s_headding-text">
                Your booked Vendors
              </div>
          <form action="">
            <div class="">
              <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
                <div class="card card-content ">
                  <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                  <div class="card-city_name card-title">
                    ABC DJ Artist , rajkot
                  </div>
    
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
                <div class="card card-content ">
                  <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                  <div class="card-city_name card-title">
                    Mehndi Artist , Ahmedabad
                  </div>
    
                </div>
              </div>
    
            </div>
          </form>
        </div>
        <div>
    
        </div>
      </div>

</div>
<!-- <app-footer></app-footer> -->