<app-header></app-header>
<section id="home" class="top_cont_outer">
    <div class="top_cont_inner">
        <div class="">
            <div class="top_content pad-0">
                <carousel [interval]=2000 [showIndicators]="false" [noPause]="false">
                    <slide class="fadding">
                        <img class="background-img" class="carousel_img" src="../../assets/image/why-weddingz.jpg" />
                    </slide>
                    <slide class="fadding">
                        <img class="background-img " class="carousel_img" src="../../assets/image/desktop_bg.jpg" />
                    </slide>

                </carousel>
                <div class=" center">
                    <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 greeting_format ">
                        <p class="text-center">
                            Hassle Free Planning & Booking at Our Guaranteed Best Prices. 10,000+
                            <br /> <i class="fa fa-star star"></i> Events Organized till Date <i
                                class="fa fa-star star"></i>
                            <br /> Present in 25 Cities
                            Over 20,000+ Wedding Venues & Vendors</p>
                    </div>

                </div>
                <!-- 
              <div>
                <div>
                  <img class="img-responsive" src="./assets/img/side-bg.jpg" alt="" width="100%">
                </div>
              </div> -->

            </div>
        </div>
    </div>
</section>
<div class="wapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8">
                <div class="home-second-hedding">Venues and Vendors from different Cities</div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center pad-2">
                            <a href="#" class="card-detail">Venues
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- main part end -->
            <!-- second part start -->
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8">
                <div class="home-second-hedding">How it's Work</div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Discover & Shortlist </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_book.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Venue </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_vendor.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Vendors</div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_visits.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Guided Visits </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>
            </div>
            <!-- second part end -->
        </div>

    </div>

</div>
<app-footer></app-footer>