<app-header></app-header>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
size = "large"
color = "#000000"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
</ngx-spinner>

<section id="home" class="top_cont_outer">
    <div class="top_cont_inner">
        <div class="">
            <div class="top_content pad-0">
                <carousel [interval]=3000 [showIndicators]="false" >
                    <slide class="faddin" *ngFor="let s of homeslider; let index=index">
                        <img class="background-img " class="carousel_img" src="{{s.image}}" />
                        <div class="carousel-caption">
                            <h3 class="slide_head">The Wedding Venue</h3>
                            <p class="slide_cap mr-r-l-8">We Are serve best location  for your any type of Function.</p>
                          </div>
                    </slide>
                    <!-- <slide class="fadding">
                        <img class="background-img " class="carousel_img" src="../../assets/image/desktop_bg.jpg" />
                    </slide> -->

                </carousel>
                <!-- <div class=" center">
                    <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 greeting_format ">
                        <p class="text-center">
                            Hassle Free Planning & Booking at Our Guaranteed Best Prices.
                            <br /> <i class="fa fa-star star"></i> Events Organized till Date <i
                                class="fa fa-star star"></i>
                            <br /> Present in your city
                            Over Top Wedding Venues & Vendors is Here</p>
                    </div>

</div> -->
                <!-- 
              <div>
                <div>
                  <img class="img-responsive" src="./assets/img/side-bg.jpg" alt="" width="100%">
                </div>
              </div> -->

            </div>
        </div>
    </div>
</section>
<div class="wapper parallax">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8 home-section-back">
                <div class="home-second-hedding"><u style="text-underline-position: under;">The</u> &nbsp; <u  style="text-underline-position: under;">Venues</u>
                    
                </div>
                <div class="head-title">Glimpse through the latest trends – handpicked by us, for you.
                    
                </div>
                <hr class="title">
                <div *ngFor="let venue of venue_category" data-aos="flip-left" data-aos-duration="1500"
                    class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left   mr-b-1">
                    <a [routerLink]="['/Venues/',venue._id]">
                        <div class=" card-con mr-b-6 card-size card-content ">
                                <!-- <div class="filp-top"></div> -->
                        
                            <img src="{{venue.image}}" class="img-fluid p-card-img card-img" />
                           
                            <div class="text-center ">
                                                      </div>
                                  <div class="card-bottom text-center">
                                   <a>  {{venue.venue_cat_name}}</a>
                                  </div>
                                  <div class="filp-bottom"></div>
                          
                        </div>
                    </a>
                </div>
               </div>
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8 r-mr-l-r-2 home-section-back">
              
                
                <div class="home-second-hedding"><u  style="text-underline-position: under;">The </u> &nbsp;<u  style="text-underline-position: under;"> Vendors</u>
                </div>
                <div class="head-title">Glimpse through the latest trends – handpicked by us, for you.
                </div>
                <hr class="title">
                <div data-aos="flip-left" data-aos-duration="1500"
                    class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left mr-b-1">
                    <a [routerLink]="['/PremiumPhotographer']">
                        <div class="card-size mr-b-6 card-con card-content ">
                            <!-- <div class="filp-top"></div> -->
                            <img src="../../assets/image/photographer/images (1).jpg" class="img-fluid p-card-img card-img" />
                            <div class="text-center">
                                  <div class="card-bottom-p text-center">
                                    <a>Prime Photographers</a>
                                   </div>
                            </div>
                            <div class="filp-bottom-p"></div>
                           
                        </div>
                    </a>
                </div>
                <div *ngFor="let vendor of vendor_category" data-aos="flip-left" data-aos-duration="1500"
                    class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left mr-b-1">
                    <a [routerLink]="['/vendors/',vendor._id]">
                        <div class="card-size mr-b-6 card-con card-content ">
                            <!-- <div class="filp-top"></div> -->
                            <img src="{{vendor.image}}" class="img-fluid p-card-img card-img" />
                            <div class="text-center ">
                                  <div class="card-bottom text-center">
                                    <a>{{vendor.vendor_cat_name}}</a>
                                   </div>
                            </div>
                            <div class="filp-bottom"></div>
                           
                        </div>
                    </a>
                </div>

            </div>
            <!-- main part end -->
            <!-- second part start -->
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8 home-section-back">
                <div class="home-second-hedding">How it's Work</div>
                <hr class="title">
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" 
     data-aos-anchor-placement="center-center">
                    <div class="card border-none pad-t-b-5 inner-part text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Discover & Shortlist </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" 
     data-aos-anchor-placement="center-center">
                    <div class="card border-none pad-t-b-5 inner-part text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_book.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Venue </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" 
     data-aos-anchor-placement="center-center">
                    <div class="card border-none text-center inner-part pad-t-b-5">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_vendor.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Vendors</div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" 
     data-aos-anchor-placement="center-center">
                    <div class="card border-none text-center  inner-part pad-t-b-5">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_visits.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Guided Visits </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>
            </div>
            <!-- second part end -->

              <!-- second part start -->
              <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8 home-section-back">
                <div class="home-second-hedding">Let's Talk to Business</div>
                <hr class="title">
                <div class="col-12 col-lg-6 col-md-6 col-xl-6 col-xs-12   float-left" >
                    <div class="card border-none inner-part text-center">
                     
                        <div class="contact-text">
                            <i class="fa fa-whatsapp wp-icon"></i> &nbsp;&nbsp;
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=919853225322&text=">+91 98 5322 5322 </a>  
                        </div>
                        <div class="contact-text">
                            <i class="fa fa-envelope email-icon"></i> &nbsp;&nbsp;  <a href="mailto:info@wediina.com">
                                info@wediina.com</a>
                        </div>
                        <div>
                            <i class="fa fa-facebook social-icon"></i>
                            <i class="fa fa-instagram social-icon"></i>
                            <!-- <i class="fa fa-facebook"></i> -->
                            <i class="fa fa-twitter social-icon"></i>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-6 col-xl-6 col-xs-12  float-left">
                    <div class="card  pad-5 inner-part  border-none text-center">
                        <div class="form-group">
                            <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                            <input type="text" class="form-control" id="name" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <!-- <label for="exampleFormControl1">Example  input</label> -->
                            <input type="text" class="form-control" id="email" placeholder="Email">
                          </div>
                          <div class="form-group">
                            <!-- <label for="exampleFormControl1">Example  input</label> -->
                            <input type="text" class="form-control" id="mobileno" placeholder="Mobile No">
                          </div>
                          <div class="form-group">
                            <!-- <label for="exampleFormControl1">Example  input</label> -->
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                          </div>
                          <div class="form-group">
                            <!-- <label for="exampleFormControl1">Example  input</label> -->
                            <textarea class="form-control" id="msg" placeholder="Message" rows="5"></textarea>
                          </div>
                          <div class="form-group ">
                              <button type="submit" class="btn btn-danger float-right">Submit</button>

                          </div>
                    </div>
                </div>

              
            </div>
            <!-- second part end -->
        </div>

    </div>

</div>
<app-footer></app-footer>