<app-header></app-header>
<div class="wapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8">
                <div class="home-second-hedding">Browse Wedding Venues and Vendors</div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left mr-b-1">
                    <div class="card card-content ">
                        <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                        <div class="card-city_name card-title">
                            Ahmedabad
                        </div>
                        <div class="text-center">
                            <a href="#" class="card-detail">Banquet Halls
                            </a> | <a href="#" class="card-detail">Vendors
                            </a>
                        </div>

                    </div>
                </div>

            </div>
            <!-- main part end -->
            <!-- second part start -->
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8">
                <div class="home-second-hedding">How it's Work</div>
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Discover & Shortlist </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_book.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Venue </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_vendor.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Vendors</div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left">
                    <div class="card border-none text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_visits.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Guided Visits </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>
            </div>
            <!-- second part end -->
        </div>

    </div>

</div>
<app-footer></app-footer>